books {
	background-color: #ffffff;
	width: 100%;
	}
book {
display: block;
margin-bottom: 20pt;
margin-left: 0;
}
book:before {content: ""attr(title)""}

author {
display: block;
color: #0000ff;
font-size: 12pt;
}

hcover_pub, scover_pub, first_pub_date, congress_catalog_num {
display: block;
color: #ff0000;
margin-left: 12pt;
}

hcover_pub:before {content: "Hardcover Publisher Information: "}

scover_pub:before {content: "Softcover Publisher Information: "}

first_pub_date:before {content: "First Publication Date: "}

congress_catalog_num:before {content: "Congress Catalog Number: "}


